@import url(https://fonts.googleapis.com/css?family=Damion);
@import url('https://fonts.googleapis.com/css?family=Lato:300i,700');
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 400;
	color: #000;
}
h1{
	font-family: 'Lato:300i', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.3em;
	text-align: center;
	color: #6469df;
	padding-left: 6%;
    padding-right: 6%;
}
h2,h3{
	font-family: 'Lato:700', sans-serif;
	font-weight: 700;
	margin: .5%;
}
h2{
	font-size: 2.3em;
	line-height: 1.2em;
	color: #ffffff;
}
h3{
	font-size: 1em;
	line-height: 1.5em;
	color: #6469df;
}
a{
	color:#5949FF;
	text-decoration: none;	
}	
header{
	background-color: #FFFFFF;
	padding: 0px;	
	margin: 0;
	width:35%;
	float: left;
}
nav a:link{
	font-family: 'Lato', sans-serif;
	color:#6469df;
	text-align: center;
	background-color: #FFFFFF;
	padding: 2%;
	float: right;
	display:inline;
}
nav a:visited{
	color:#77C1F2;	
}
nav a:hover{
	color: #C400C4;
}
nav a:active{
	color: #C400C4;
}			
/*nav {
	margin-left: 10px;
	margin-right:10;
}*/
aside{
	background-color: #FFC675;
}	
article{
	background-color: #85F5F3;
		padding: .5em 0em;
		border-bottom: 5pt #77C1F2 solid;
    	border-top: 5pt #77C1F2 solid;
}
footer{
	background-color: #FF957E;
}
div,section{
	background-color: #ffffff;
}	
ul {
	margin:0 auto;
	max-width: 100px;
	text-align: left;
}
img{
	width: 60%;
}
img a{
	width: 30%
}	
.wrapper{
	width: 90%
}	

.clearfix:after{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: "xxxxx ";
     clear: both;
     height: 0;
     }	
.boxes {
	background-color: #CBFFB2;
 	height: 220px;
    float: left;
    width: 33.33%;
}
.desktop {
	display: block;
}
.mobile{
	display:none;
}
#titles {
	background-color: #7cbb42;
    width: 28%;
    margin-left: 5.33%;
} 
#titles2 {
	background-color: #7cbb42;
    width: 28%;
    margin-left: 5.33%;
}
#two_column {
	background-color: #6469df;
}	
#contact {
	color: #6469df;
}
#email {
	color: #6469df;
}
#toggle{
	display: none;
}

@media screen and (max-width:973px){
	.boxes{ 
		width: 100%;
		float: none;
		height: 500px;
		margin: auto;
		border-bottom: 2pt #7cbb42 solid;
	}
	.desktop {
	display: none;

	}
	.mobile{
	display:block;
	}
	header{
		width: 60%;
		float:none;
	}
	nav{
		margin-left: 12%;
	}
	nav a:link{
		display: block;
		float:none;
		padding:10px;
		margin-left:5px;
		background: #ffffff;
    	border-top: 2pt #77C1F2 solid;
    	font-size: 1.2em;
	}
		#titles{
		height:220px;
		font-size: 1.2em;
	}
}	
@media screen and (max-width:480px){
	h1{
		font-size: 1em;
		line-height: 1.1em;
	}
	.boxes{ 
		width: 100%;
		float: none;
		height: 225px;
		margin: auto;
	}
	header{
		width: 100%;
		float:none;
	}
	nav{
		display: block;
		padding:10px;
		margin:5px;
		float:none;
	}
	#titles{
		height:180px;

	}
}	


